@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.kid-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 12px;
}

@media print {
  @page {
    size: letter;
  }

  html,
  body {
    padding: 0;
  }

  .locker-card {
    width: 5in;
    height: 3in;
  }

  .popsicle {
    width: 5in;
    height: .5in;
  }

  .center-label {
    width: 1.5in;
    height: 2.5in;
  }

  .print-btn {
    display: none;
  }
}
